    <header class="test__header">
        <button class="menu__btn" id="menu-btn">
            <img src="../images/menu_icon.svg" alt="">
        </button>
        <img class="img" src="../images/brain-large_img-min.png" alt="brain">
        <h3 class="test__header title">тест на визначення IQ</h3>
        <div class="menu">
            <button class="menu__btn-close" id="close-btn">
                <img src="../images/close_icon.svg" alt="close button">
            </button>
            <ul class="menu__list">
                <li><a href="/" onclick="route()">Головна</a></li>
                <li><a href="/result" onclick="route()">Інформація про тест</a></li>
                <li><a href="/test" onclick="route()">Пройти тест</a></li>
            </ul>
        </div>
    </header>
    <section class="card">
        <div class="line">
            <div class="status"></div>
        </div>
        <div class="question">
            <h3 class="question__title">Bаша стать:</h3>
            <ul class="question__list">
                <li class="question__item">
                    <input type="radio" id="option1" name="options" value="option1">
                    <label class="question__label" for="option1"><span class="question__answer">Чоловік</span></label>
                                        
                    <!-- <input class="circle" id="option1" name="options" value="">
                    <span class="question__answer">Чоловік</span> -->
                </li>
                <li class="question__item">
                    <input type="radio" id="option2" name="options" value="option2">
                    <label class="question__label" for="option2"><span class="question__answer">Жінка</span></label>

                    <!-- <input class="circle" id="option2" name="options" value="">
                    <span class="question__answer">Жінка</span> -->
                </li>
            </ul>
        </div>
        <a class="button question__btn" href="#">Далі</a>
    </section>